---
import { contacts } from "../data/contact";
---

<div class="mt-6 flex items-center gap-4">
  {
    contacts.map((contact) => (
      <a
        href={contact.href}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={contact.name}
        class="transition-colors hover:scale-110 inline-block"
        style={`--brand-color: ${contact.brandColor};`}
      >
        {
          contact.svgIcon ? (
            <img
              src={contact.svgIcon}
              alt={contact.name}
              class="w-6 h-6 invert dark:invert-0 transition-colors hover:[&]:text-(--brand-color)"
            />
          ) : (
            <i
              class={`${contact.faIcon} text-2xl text-black dark:text-white hover:[&]:text-(--brand-color)`}
            />
          )
        }
      </a>
    ))
  }
</div>
